*{
    margin:0;
}

.header-wrapper{
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
}
.grid-item {
    padding: 20px;
    font-size: 20px;
}
.tag{
      text-align: right;
      margin-bottom:10px;
      margin-right:50px;
}
.freshFoodTag{
      margin-bottom: 10px;
      font-size: 18px;
}
.location{
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
}
.loc{
      border: 1px solid #b0091b;
      padding: 10px;
      border-radius: 10px;
      width: 50%;   
      background-color: #b0091b;
      color: white;
      
}
.loctab{
    padding: 5px;
}


.divbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 20px 0 0;
}
@media (max-width: 800px) {
.divbtn {
    flex-direction: column;
}
}
.btn{
    width:150px;
    margin-left: 20px;
    color:#b0091b;
    border: 1px solid #b0091b;
    font-weight: bold;
}

.btn:hover{
    background-color: #b0091b;
    color: white !important;border: 1px solid white; 
}




.flex-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.flex-container > div {
    margin: 70px;
    padding: 20px;
    font-size: 20px;
    padding: 10px;
}



