.page {
  display: flex;
  flex-direction: column;
  background-image: url(./resources/images/model_s.png);
  position: fixed; 
  top: 0; 
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation_bar {
  height: 8%;
}

.product {
  height: 92%;
}
