.modelSPage {
  display: flex;
  flex-direction: column;
  background-image: url(./resources/images/modelS.png);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.model3Page {
  display: flex;
  flex-direction: column;
  background-image: url(./resources/images/model3.png);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modelXPage {
  display: flex;
  flex-direction: column;
  background-image: url(./resources/images/modelX.png);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modelYPage {
  display: flex;
  flex-direction: column;
  background-image: url(./resources/images/modelY.png);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation_bar {
  height: 8%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation_bar .left {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation_bar .left img {
  padding-left: 10px;
}

.navigation_bar .middle {
  flex: 10;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation_bar .right {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  height: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_name {
  width: 100%;
  text-align: center;
  padding-top: 40px;
}

.product_details {
  display: flex;
  width: 60%;
  height: 80%;
  justify-content: center;
  align-items: flex-end;
}

.product_performance {
  flex: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
