.center {
    text-align: center;
}

.productImage {
    max-width: 75%;
}

.productName {
    color: blue;
    font-weight: bold;
    font-size: large;
}

.productPrice {
    color: black;
    font-weight: bolder;
    font-size: x-large;
}
