.center_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: auto;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

button:hover {
  background-color: ghostwhite;
}
