.navigation_bar {
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.left {
  flex: 1;
  height: 100%;
  width: 100%;
}

img {
  max-height: 100%;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.middle {
  flex: 10;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

button {
  font-size: medium;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}

button:hover {
  background-color: aliceblue;
  padding: 10px;
  margin: 10px;
  border-radius: 20%;
}

.right {
  flex: 1;
  height: 100%;
}
