.center {
    text-align: center;
}

/*
.cnav {
    text-align: center;
}*/

/*.angelcenter {
    text-align: center;
    margin-left: 30px;
}*/
.link {
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #ff6000;
    color: white;
    margin-left: 33%;
    margin-right: 33%;
    display: inline-block;
    margin-top: 1em;
}
.info {
    color: black;
    background-color: #e4f2f8;
    margin: auto;
    padding: 15px 10px;
    text-align: left;
    width: 300px;
    border-radius: 5px;
}
.code {
    font-family: monospace;
}
.container {
    margin-top: 30px;
}

img {
    max-width: 150px;
}

.greeting {
    height: 75px;
}

.center2 {
    text-align: center;
    font-weight: bolder;
    color: rgb(163, 114, 41);
}

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
  }*/

.fa {
    padding: 15px;
    font-size: 30px;
    /*width: 50px;*/
    text-align: center;
    text-decoration: solid;
    margin: 2px 2px;
    border-radius: 10%;
  }
  
  .fa fa:hover {
      opacity: 0.7;
  }
  
  .fa fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  

  .fa fa-instagram {
    background: #125688;
    color: white;
  }
  
 