.center {
    text-align: center;
}

.leftSidebar {
    background-color: pink;
    width: auto;
}

.container {
    margin-top: 25px;
}

.searchButton {
    background-color: lightblue;
    background-image: url(../../resources/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border-width: 1px;
    border-color: black;
    height: 21px;
}

:hover.searchButton {
    background-color: rgb(150, 189, 202);
}

.tabButton {
    margin: auto;
    max-width: 15em;
}

.cartButton, .trackButton {
    background-color: red;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    border-radius: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    min-width: 7em;
}

a:link {
    color: black;
    text-decoration: none;
    background-image: linear-gradient(lightblue, rgb(98, 98, 255), rgb(38, 38, 255));
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    background-image: linear-gradient(rgb(152, 191, 204), rgb(81, 81, 219), rgb(30, 30, 216));
}
