.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

p.title {
  font-size: xxx-large;
  font-weight: bold;
}

p.subtitle {
  font-size: large;
  margin: 0 auto;
}
